* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: white;
}

body, html
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

hr {
    margin-top: 20px;
    width: 90%;
    opacity: .8;
}










/*LOGO*/

.logocontainer {
    background-color: #76E4E1;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;

    -webkit-box-shadow: 0 3px 4px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0 3px 4px rgba(50, 50, 50, 0.7);
    box-shadow:         0 3px 4px rgba(50, 50, 50, 0.7);
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logocontainer a:link {
    text-decoration: none;
}
.logocontainer a:visited {
    text-decoration: none;
    color: white;
}

.logocontainer a:hover {
    text-decoration: none;
}

.logocontainer a:active {
    text-decoration: none;
    color: orange;
}

.logo{
    font-family: 'VT323', cursive;
    color: white; 
    font-size:85px;
    text-align: center;
    text-shadow: 0 0 2px #000000;
}

.logoSmall {
    font-family: 'VT323', cursive;
    line-height:60%;
    color: white; 
    font-size:60px;
    text-align: center;
    text-shadow: 0 0 2px #000000;
    margin-bottom: 20px;
}

.logoDesc {
    display: block;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
    color: #1A7D7B;
}












/*search*/


.searchcontainer {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.searchholder, .textsubmit, .submitter {
    border-radius: 15px;
    background-color: #F4F4F4;
}

.searchholder{
    -moz-box-shadow:0 0 0 2px #007878;
    -webkit-box-shadow:0 0 0 2px #007878;
    box-shadow:0 0 0 2px #007878;

    height: 80px;
    width: 650px;
    margin: 0 auto;
    margin-top: 5px;
}

.textsubmit {
    border: 0;
    height: 80px;
    width: 570px;
    padding-left: 20px;
    font-size: 30px;
}

.submitter {
    border: 0;
    background-image: url("images/search.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80px;
    width: 75px;
    float: right;
}

.viewall {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
}

.viewall a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #1A7D7B;
}




















/*three column*/

.colcontainer{
    font-family: helvetica;
    width:75%;
    margin: 0 auto;
    margin-top: 20px;
}

.colcontainer hr {
    margin-top: 1px;
    width: 100%;
}


.col1, .col2, .col3 {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 1%;
    height: 300px;
}

.colcontainer h1 {
    text-align: center;
    font-size: 20px;
}

.even {
    background-color: #B0B0B0;
}

.odd {
    background-color: #EBEBEB;
}

.accordion, .accordion2, .accordion3 {
  width: 100%;
  margin: 1em .5em;
}

.accordion h3, .accordion2 h3, .accordion3 h3 {
  font-family: helvetica;
  font-size: 15px; 
  font-weight: default;
  margin: 0;
  padding: .25em;
}
.accordion div, .accordion2 div, .accordion3 div{
  padding: .5em .25em;
}






























/* RESPONSIVE */


@media screen and (min-width:520px) {
    .logoSmall{
        display: none;
    }
}


@media screen and (max-width:519px){
    .searchbox {
        height: 100%;
    }

    body{
        background-color: #FCFF6A;
    }

    .logo {
        display:none;
        }

    .logoSmall{
        display: block;
    }

    .skipper {
        position: static;
        display: inline;
    }

    .description{
        width: auto;
    }

}